<mat-card class="UserForm-card mat-elevation-z8">
  <mat-card-content class="form-scroll-container">
    <form (submit)="onSave()" [formGroup]="userForm" class="user-form">

      <div class="control-group">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="firstName" required />
          <mat-error
            *ngIf="
              userForm.get('firstName')?.invalid &&
              (userForm.get('firstName')?.dirty ||
                userForm.get('firstName')?.touched)
            "
          >
            <span *ngIf="userForm.get('firstName')?.errors?.['required']"
              >First name is required.</span
            >
            <span *ngIf="userForm.get('firstName')?.errors?.['minlength']"
              >First name must be at least 1 character long.</span
            >
            <span *ngIf="userForm.get('firstName')?.errors?.['maxlength']"
              >First name cannot be more than 20 characters long.</span
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastName" required />
          <mat-error
            *ngIf="
              userForm.get('lastName')?.invalid &&
              (userForm.get('lastName')?.dirty ||
                userForm.get('lastName')?.touched)
            "
          >
            <span *ngIf="userForm.get('lastName')?.errors?.['required']"
              >Last name is required.</span
            >
            <span *ngIf="userForm.get('lastName')?.errors?.['minlength']"
              >Last name must be at least 1 character long.</span
            >
            <span *ngIf="userForm.get('lastName')?.errors?.['maxlength']"
              >Last name cannot be more than 20 characters long.</span
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender" required>
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('gender')?.invalid"
            >Gender is required.</mat-error
          >
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required email />
        <mat-error
          *ngIf="
            userForm.get('email')?.invalid &&
            (userForm.get('email')?.dirty || userForm.get('email')?.touched)
          "
        >
          <span *ngIf="userForm.get('email')?.errors?.['required']"
            >Email is required.</span
          >
          <span *ngIf="userForm.get('email')?.errors?.['email']"
            >Please enter a valid email.</span
          >
          <span *ngIf="userForm.get('email')?.errors?.['minlength']"
            >Email must be at least 1 character long.</span
          >
          <span *ngIf="userForm.get('email')?.errors?.['maxlength']"
            >Email cannot be more than 100 characters long.</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Birthday</mat-label>
        <input
          matInput
          [max]="maxDate"
          [matDatepicker]="picker"
          formControlName="birthday"
          required
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker touchUi></mat-datepicker>
        <mat-error
          *ngIf="
            userForm.get('birthday')?.invalid &&
            (userForm.get('birthday')?.dirty ||
              userForm.get('birthday')?.touched)
          "
        >
          <span *ngIf="userForm.get('birthday')?.errors?.['required']"
            >Birthday is required.</span
          >
          <span *ngIf="userForm.get('birthday')?.errors?.['invalidDate']"
            >Birthday cannot be a future date.</span
          >
        </mat-error>
      </mat-form-field>

      
      <div class="control-group">
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput type="text" formControlName="address" required />
          <mat-error
            *ngIf="
              userForm.get('address')?.invalid &&
              (userForm.get('address')?.dirty ||
                userForm.get('address')?.touched)
            "
          >
            <span *ngIf="userForm.get('address')?.errors?.['required']"
              >Address is required.</span
            >
            <span *ngIf="userForm.get('address')?.errors?.['minlength']"
              >Address must be at least 1 character long.</span
            >
            <span *ngIf="userForm.get('address')?.errors?.['maxlength']"
              >Address cannot be more than 200 characters long.</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput type="text" formControlName="city" required />
          <mat-error
            *ngIf="
              userForm.get('city')?.invalid &&
              (userForm.get('city')?.dirty || userForm.get('city')?.touched)
            "
          >
            <span *ngIf="userForm.get('city')?.errors?.['required']"
              >City is required.</span
            >
            <span *ngIf="userForm.get('city')?.errors?.['minlength']"
              >City must be at least 1 character long.</span
            >
            <span *ngIf="userForm.get('city')?.errors?.['maxlength']"
              >City cannot be more than 200 characters long.</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Country</mat-label>
          <input matInput type="text" formControlName="country" required />
          <mat-error
            *ngIf="
              userForm.get('country')?.invalid &&
              (userForm.get('country')?.dirty ||
                userForm.get('country')?.touched)
            "
          >
            <span *ngIf="userForm.get('country')?.errors?.['required']"
              >Country is required.</span
            >
            <span *ngIf="userForm.get('country')?.errors?.['minlength']"
              >Country must be at least 1 character long.</span
            >
            <span *ngIf="userForm.get('country')?.errors?.['maxlength']"
              >Country cannot be more than 200 characters long.</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Remaining fields -->
      <!-- <mat-form-field>
        <mat-label>List of hobbies (can also be more than one)</mat-label>
        <input matInput type="text" formControlName="hobbies" required />
        <mat-error
          *ngIf="
            userForm.get('hobbies')?.invalid &&
            (userForm.get('hobbies')?.dirty || userForm.get('hobbies')?.touched)
          "
        >
          <span *ngIf="userForm.get('hobbies')?.errors?.['required']"
            >Hobbies are required.</span
          >
          <span *ngIf="userForm.get('hobbies')?.errors?.['minlength']"
            >Hobbies must be at least 1 character long.</span
          >
          <span *ngIf="userForm.get('hobbies')?.errors?.['maxlength']"
            >Hobbies cannot be more than 200 characters long.</span
          >
        </mat-error>
      </mat-form-field> -->

      <mat-form-field class="example-form-field">
        <mat-label>List of hobbies</mat-label>
        <mat-chip-grid
          #chipGrid
          aria-label="Enter keywords"
          formControlName="hobbies"
        >
          <mat-chip *ngFor="let hobbie of hobbies">
            {{ hobbie }}
            <mat-icon matChipRemove (click)="removehobbie(hobbie)"
              >cancel</mat-icon
            >
          </mat-chip>
        </mat-chip-grid>
        <input
          placeholder="New hobbie...(press enter to add)"
          [matChipInputFor]="chipGrid"
          (matChipInputTokenEnd)="add($event)"
        />
        <mat-error
          *ngIf="
            userForm.get('hobbies')?.invalid &&
            (userForm.get('hobbies')?.dirty || userForm.get('hobbies')?.touched)
          "
        >
          <span *ngIf="userForm.get('hobbies')?.errors?.['required']"
            >Hobbies are required.</span
          >
          <span *ngIf="userForm.get('hobbies')?.errors?.['minlength']"
            >Hobbies must be at least 1 character long.</span
          >
          <span *ngIf="userForm.get('hobbies')?.errors?.['maxlength']"
            >Hobbies cannot be more than 200 characters long.</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Favorite color</mat-label>
        <input
          matInput
          type="color"
          formControlName="favoriteColor"
          required
          [value]="defaultColor"
        />
        <mat-error *ngIf="userForm.get('favoriteColor')?.invalid"
          >Favorite color is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Required amount of seats (2-7)</mat-label>
        <input
          matInput
          type="number"
          formControlName="seats"
          min="2"
          max="7"
          required
        />
        <mat-error
          *ngIf="
            userForm.get('seats')?.invalid &&
            (userForm.get('seats')?.dirty || userForm.get('seats')?.touched)
          "
        >
          <span *ngIf="userForm.get('seats')?.errors?.['required']"
            >Number of seats is required.</span
          >
          <span *ngIf="userForm.get('seats')?.errors?.['min']"
            >Number of seats must be at least 2.</span
          >
          <span *ngIf="userForm.get('seats')?.errors?.['max']"
            >Number of seats cannot be more than 7.</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Motor type (electric, fuel)</mat-label>
        <mat-select formControlName="motorType" required>
          <mat-option value="electric">Electric</mat-option>
          <mat-option value="fuel">Fuel</mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('motorType')?.invalid"
          >Motor type is required.</mat-error
        >
      </mat-form-field>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
