.button {
	background-color: blue; /* Replace with the button color */
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 20px; /* This gives it pill-shaped rounded corners */
	cursor: pointer;
}

.UserForm-card {
	direction: rtl;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	padding: 20px;
	margin: 0 auto;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

mat-form-field {
	width: 100%;

	height: 80%;
	border-radius: 10px;

	/*the contant will be next to the navbar */

	align-items: auto;

	/*the contant will be next to the navbar */
	display: inline-table;
}
