<!-- page-not-found.component.html -->
<div class="center-content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Page Not Found</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>The page you are looking for does not exist or has been moved.</p>
      <p>Use the navigation above to get back on track.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/" center>
        Go to User Form page
      </button>
    </mat-card-actions>
  </mat-card>
</div>
