.barChart {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 242, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;


  max-width: 35rem;
  max-height: 30rem;
}
@media (max-width: 768px) {
  .barChart {
    width: 100%;
    margin-top: 20px;
  }

}
