.analytics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-table, .pie-chart, .bar-chart {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-table {
  overflow: auto;
  max-height: 500px; /* Adjust as necessary */
}

.pie-chart, .bar-chart {
  flex-basis: 45%;
  max-height: 400px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f4f4f4;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

h2 {
  margin-bottom: 15px;
}

/* Angular Material Table styles */
.mat-elevation-z8 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
              0px 6px 10px 0px rgba(0, 0, 0, 0.14),
              0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

/* Adjust table styles */
.user-table {
  overflow: auto;
  max-height: 500px; /* Adjust as necessary */
}

/* You might want to customize the table cells padding */
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 8px;
}

/* Ensure the table stretches full width */
.mat-table {
  width: 100%;
}
.table-wrapper {
  overflow-x: auto; /* Enables horizontal scrolling */
}

@media (max-width: 768px) {
  .user-table-container {
    width: 100%;
    margin-top: 20px;
  }
  .mat-table {
    width: 700px; /* Set a minimum width on the table */
  }
}
/* Additional table styling as needed */
