<div class="analytics-container">
  <!-- User Table with Angular Material Table -->
  <div class="user-table-container">
    <h2>User Details</h2>
     <div class="mat-elevation-z8 table-wrapper">
    <table mat-table  [dataSource]="dataSource" >
      <!-- Birthday Column -->
      <ng-container matColumnDef="birthday">
        <th mat-header-cell *matHeaderCellDef>Birthday</th>
        <td mat-cell *matCellDef="let element">{{ element.birthday }}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <!-- First Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <!-- Gender Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
      </ng-container>

      <!-- City Column -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let element">{{ element.city }}</td>
      </ng-container>

      <!-- Country Column -->
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let element">{{ element.country }}</td>
      </ng-container>

      <!-- Hobbies Column -->
      <ng-container matColumnDef="hobbies">
        <th mat-header-cell *matHeaderCellDef>Hobbies</th>
        <td mat-cell *matCellDef="let element">
          {{ element.hobbies.join(", ") }}
        </td>
      </ng-container>

      <!-- Favorite Color Column -->
      <ng-container matColumnDef="favoriteColor">
        <th mat-header-cell *matHeaderCellDef>Favorite Color</th>
        <td mat-cell *matCellDef="let element">{{ element.favoriteColor }}</td>
      </ng-container>

      <!-- Seats Column -->
      <ng-container matColumnDef="seats">
        <th mat-header-cell *matHeaderCellDef>Seats</th>
        <td mat-cell *matCellDef="let element">{{ element.seats }}</td>
      </ng-container>

      <!-- Motor Type Column -->
      <ng-container matColumnDef="motorType">
        <th mat-header-cell *matHeaderCellDef>Motor Type</th>
        <td mat-cell *matCellDef="let element">{{ element.motorType }}</td>
      </ng-container>

      <!-- Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    </div>
  </div>

  <!-- Pie Chart for engine types -->
  <!-- ... Other HTML content -->

  <!-- Bar Chart for Most Picked Engine Type by Gender -->
  <div *ngIf="pieChartData" class="engine-type-pie-chart">
    <h2>Most Picked Engine Type by Gender</h2>
  </div>

  <!-- ... The rest of your existing HTML content -->

  <!-- Bar Chart for colors by age -->
  <div class="bar-chart">
    <h2>Most Picked Colors by Age</h2>
  </div>

  <!-- ... Map for city visitors would go here -->
</div>
