<div class="analytics-container">
  <div class="user-table-container">
    <h2>Users Details</h2>
    <div class="mat-elevation-z8 table-wrapper">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef>First Name</th>
          <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="birthday">
          <th mat-header-cell *matHeaderCellDef>Birthday</th>
          <td mat-cell *matCellDef="let element">
            {{ element.birthday | formatDate }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>Gender</th>
          <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
        </ng-container>


        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let element">{{ element.address }}</td>
        </ng-container>


        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef>City</th>
          <td mat-cell *matCellDef="let element">{{ element.city }}</td>
        </ng-container>


        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef>Country</th>
          <td mat-cell *matCellDef="let element">{{ element.country }}</td>
        </ng-container>


        <ng-container matColumnDef="hobbies">
          <th mat-header-cell *matHeaderCellDef>Hobbies</th>
          <td mat-cell *matCellDef="let element">
            {{ element.hobbies.join(", ") }}
          </td>
        </ng-container>


        <ng-container matColumnDef="favoriteColor">
          <th mat-header-cell *matHeaderCellDef>Favorite Color</th>
          <td mat-cell *matCellDef="let element">
            {{ element.favoriteColor }}
          </td>
        </ng-container>


        <ng-container matColumnDef="seats">
          <th mat-header-cell *matHeaderCellDef>Seats</th>
          <td mat-cell *matCellDef="let element">{{ element.seats }}</td>
        </ng-container>


        <ng-container matColumnDef="motorType">
          <th mat-header-cell *matHeaderCellDef>Motor Type</th>
          <td mat-cell *matCellDef="let element">{{ element.motorType }}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>

  <div class="container-fluid main">
    <div class="bar-chart">
      <h2>Conversion Statistics</h2>

      {{ SubmitterCount | percentFormat }}%
    </div>
    <div class="bar-chart">
      <h2>Most Picked Colors by Age</h2>
      <app-bar-chart
        [barChartData]="data2"
        [barChartOptions]="options2"
      ></app-bar-chart>
    </div>


    <div class="pie-chart">
      <h2>Most Picked Engine Type by Gender</h2>

      <app-pie-chart
        [pieChartData]="data1"
        [pieChartOptions]="options1"
      ></app-pie-chart>
    </div>
    <div class="pie-chart">
      <h2>Most common hobby amongst visitors</h2>

      <app-pie-chart
        [pieChartData]="data3"
        [pieChartOptions]="options3"
      ></app-pie-chart>
    </div>
  </div>
  <div class="bar-chart">
    <h2></h2>
  </div>
</div>
